body {
	background-color: #ccc;
}

#header {
	background-color: pink;
	padding: 20px;
}

#footer {
	background-color: #000;
	color: #fff;
	padding: 20px;
}

#main_container {
	background-color: #fff;
	padding: 20px;
}


.error {
	color: red;
}